.sidebarOption{
    display: flex;
    /* justify-content: left; */
    align-items: center;
    font-size: 12px;
    padding-left: 2px;
    cursor: pointer;
}

.sidebarOption:hover{
    background-color: var(--hoverBackground);
    opacity: 0.9;
}

.sidebarOption__icon{
    padding: 10px;
    font-size: 15px !important;
}

.sidebarOptionChannel{
    padding: 10px 0;
}
.sidebarOptionHash{
    padding: 10px;
    padding-right: 14px;
    padding-left: 12px;
    font-size: 15px !important;
}
.sidebar > hr{
    /* padding-top: 10px;
    padding-bottom: 10px; */
    border-bottom: 1px solid var(--hoverBackground);
}